@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
    overflow: hidden;
  }

  body {
    height: 100%;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
  }

  .prose {
    max-width: none;
  }

  @supports (-webkit-touch-callout: none) {
    .pb-safe {
      padding-bottom: env(safe-area-inset-bottom);
    }
  }
}
